---
import Website from '@/icons/Website.svg'
import X from '@/icons/X.svg'
import Linkedin from '@/icons/Linkedin.svg'
import Github from '@/icons/Github.svg'
export interface CardProps {
  name: string
  role: string
  company: string
  description: string
  imageUrl: string
  companyLogo: any
  marginTop?: string
  social?: {
    website?: string
    github?: string
    linkedin?: string
    twitter?: string
  }
}

const { name, role, company, description, imageUrl, companyLogo: Logo, marginTop, social } = Astro.props as CardProps
console.log(social)
---

<div class="card font-clash bg-black text-white">
  <img src={imageUrl} alt={name} class="w-full" />
  <div class="flex flex-col md:gap-y-[14px] gap-y-[6px] border border-white/10 md:p-6 p-3">
    <div>
      <div class="flex flex-row items-center justify-between">
        <h3 class="md:text-2xl text-[12px] font-medium">{name}</h3>
        <Logo class="md:size-6 size-3" />
      </div>
      <div class="flex flex-row gap-x-1 md:text-base text-[10px] text-yellow-400 font-medium">
        <p>{role}</p>
        <p>@{company}</p>
      </div>
      <p class="md:text-sm text-xs leading-none text-neutral-400">{description}</p>
      <div class="flex gap-4 mt-2">
        {social?.website && (
          <a href={social.website} target="_blank" rel="noopener noreferrer" class="text-javascript hover:text-javascript-dark cursor-pointer">
            <Website class="size-4" />
          </a>
        )}
        {social?.github && (
          <a href={social.github} target="_blank" rel="noopener noreferrer" class="text-javascript hover:text-javascript-dark cursor-pointer">
            <Github class="size-4" />
          </a>
        )}
        {social?.linkedin && (
          <a href={social.linkedin} target="_blank" rel="noopener noreferrer" class="text-javascript hover:text-javascript-dark cursor-pointer">
            <Linkedin class="size-4" />
          </a>
        )}
        {social?.twitter && (
          <a href={social.twitter} target="_blank" rel="noopener noreferrer" class="text-javascript hover:text-javascript-dark cursor-pointer">
            <X class="size-4" />
          </a>
        )}
      </div>
    </div>
  </div>
</div>
<style define:vars={{ marginTop }}>
  .card {
    margin-top: var(--marginTop);
  }
  @media (max-width: 1024px) {
    .card {
      margin-top: 0;
    }
  }
</style>
