---
import { Image } from 'astro:assets'

export interface CardProps {
  name: string
  role: string
  company: string
  description: string
  imageUrl: string
  companyLogo: string | any
  marginTop?: string
}

const {
  name,
  role,
  company,
  description,
  imageUrl,
  companyLogo: Logo,
  marginTop,
} = Astro.props as CardProps
---

<article class="card font-clash text-white">
  <Image
    inferSize
    src={imageUrl}
    width={342}
    height={342}
    alt={name}
    class="w-full aspect-square object-cover"
  />
  <div
    class="flex flex-col md:gap-y-[14px] gap-y-[6px] bg-white/5 border border-white/10 md:p-6 p-3"
  >
    <div>
      <div class="flex flex-row items-center justify-between">
        <h3 class="md:text-2xl text-xs font-medium">{name}</h3>
        {
          typeof Logo === 'string' ? (
            <Image width={24} height={24} src={Logo} alt={company} class="md:size-6 size-3" />
          ) : typeof Logo !== 'undefined' ? (
            <Logo class="md:size-6 size-3" />
          ) : null
        }
      </div>
      <div class="flex flex-row gap-x-1 md:text-base text-[10px] text-yellow-400 font-medium">
        <p>{role}</p>
        {company && <p>@{company}</p>}
      </div>
    </div>
    <p class="md:text-base text-sm leading-none text-neutral-300">{description}</p>
  </div>
</article>
<style define:vars={{ marginTop }}>
  .card {
    margin-top: var(--marginTop);
  }
  @media (max-width: 1024px) {
    .card {
      margin-top: 0;
    }
  }
</style>
