---
const { item } = Astro.props
const { time, topic, speaker, role } = item
---

<div
  class="flex justify-between items-center bg-[#191919] p-4 px-12 border border-white border-opacity-5 flex-col md:flex-row"
>
  <div class="flex gap-4 flex-1 flex-col md:flex-row">
    <h4 class="border-0 md:border-r border-white border-opacity-5 pr-4 text-xl">{time}</h4>
    <p class="text-xl text-balance">{topic}</p>
  </div>
  <div class="flex items-center w-full md:w-[30%] mt-4 md:mt-0">
    <img
      src="https://i.pravatar.cc/300"
      alt={`Imagen de avatar de ${speaker} - ${role}`}
      class="size-12 rounded-full mr-4"
    />
    <div class="flex flex-col">
      <p>{speaker}</p>
      <p class="text-javascript text-balance">{role}</p>
    </div>
  </div>
</div>
