---
const { item } = Astro.props
const { time, topic, speaker, role, image } = item
---

<div
  class="flex justify-between items-center bg-[#191919] p-4 px-4 border border-white border-opacity-5 flex-col md:flex-row"
>
  <div class="flex gap-4 flex-1 flex-col md:flex-row">
    <h4
      class="border-0 md:border-r border-white border-opacity-5 pr-4 text-javascript min-w-32 tabular-nums font-mono justify-center items-center flex tracking-tight"
    >
      {time}
    </h4>
    <p class="text-xl text-balance">{topic}</p>
  </div>
  <div class="flex items-center w-full md:w-[30%] mt-4 md:mt-0">
    {
      // Si 'image' existe, revisamos si es un array o un string
      image && Array.isArray(image) ? (
        <div class="flex relative mr-2">
          {image.map((img, index) => (
            <img
              width={48}
              height={48}
              src={`/img/${img}`}
              alt={`Imagen de avatar ${index + 1} de ${speaker} - ${role}`}
              class="size-12 rounded-full -ml-4 border-2 border-[#191919]"
            />
          ))}
        </div>
      ) : image ? (
        <img
          width={48}
          height={48}
          src={`/img/${image}`}
          alt={`Imagen de avatar de ${speaker} - ${role}`}
          class="size-12 rounded-full mr-4"
        />
      ) : null
    }
    <div class="flex flex-col">
      <p>{speaker}</p>
      <p class="text-javascript text-balance">{role}</p>
    </div>
  </div>
</div>
