---
import Clock from '@/icons/Clock.svg'
import WorkshopSkillTag, { type TypeTag } from '@/components/WorkshopSkillTag.astro'

export interface Props {
  hour: string
  title: string
  author: string
  authorDesc: string
  workshopDesc: string
  tags?: Array<TypeTag>
}
const { hour, title, author, authorDesc, workshopDesc, tags } = Astro.props
---

<article
  class="bg-gradient-to-b from-white/5 shadow-md p-6 text-white border border-zinc-900 font-clash flex flex-col"
>
  <span class="flex flex-row items-center gap-x-2 text-white text-[16px] mb-4"><Clock />{hour}</span
  >

  <h4 class="text-[28px] font-clash leading-none mb-2 font-medium">
    {title}
  </h4>
  <p class="text-light font-medium text-javascript">
    {author}
    <span class="text-zinc-500 font-clash font-medium ml-6">{authorDesc}</span>
  </p>
  <p class="text-zinc-500 text-[16px] font-normal mt-4 mb-6 text-left">
    {workshopDesc}
  </p>
  <div class="flex flex-wrap gap-2 flex-grow content-end">
    {tags?.map((tag) => <WorkshopSkillTag tag={tag} />)}
  </div>
</article>
