---
import Container from '@/components/Container.astro'
import UnderlineWord from '@/components/UnderlineWord.astro'
import ArrowUp from '@/icons/ArrowUp.svg'

const miduNetworks = [
  {
    name: 'LinkedIn',
    url: 'https://linkedin.com/in/midudev',
    icon: 'LinkedInLogo',
  },
  {
    name: 'X',
    url: 'https://x.com/midudev',
    icon: 'XLogo',
  },
  {
    name: 'Twitch',
    url: 'https://twitch.tv/midudev',
    icon: 'TwitchLogo',
  },
]

const miduButtons = [
  {
    name: '¿Quién es midudev?',
    url: 'https://midu.dev',
  },
  {
    name: '¿Quién es midudev?',
    url: 'https://midu.dev',
  },
]
---
<Container
  class="!grid !grid-cols-2"
>
  <div
    style="background-image: url('/img/midu-presenter.webp');"
    class="aspect-square my-10 mr-10 bg-center bg-cover"
  />
  <div class="flex flex-col justify-center gap-6 m-10">
    <h5 class="text-4xl font-semibold">
      Presentado por
      <UnderlineWord
        class="!-translate-x-4"
        color="white"
      >
        <span class="text-yellow-300">
          midudev
        </span>
      </UnderlineWord>
    </h5>
    <p class="max-w-96 tracking-wider">
      Este hombre conviertirá la conferencia en un evento inolvidable.  No te arrepentirás
    </p>
    <ul class="flex items-center gap-4">
      {
        miduNetworks.map((network) => (
          <li class="hover:scale-110 transition">
            <a
              target="_blank"
              rel="noreferrer"
              href={network.url}
            >
              <img
                src={`/src/icons/${network.icon}.svg`}
                alt={network.name}
              />
            </a>
          </li>
        ))
      }
    </ul>
    <div class="flex flex-col gap-4">
      {
        miduButtons.map((button) => (
          <a
            href={button.url}
            target="_blank"
            rel="noreferrer"
            class="group flex items-center gap-2 px-10 py-4 border-2 border-white w-fit hover:bg-white hover:text-black transition duration-300"
          >
            <p>
              {button.name}
            </p>
            <ArrowUp class="size-5 group-hover:!fill-black transition duration-300" />
          </a>
        ))
      }
    </div>
  </div>
</Container>
