---
import Container from '@/components/Container.astro'
import Button from '@/components/Button.astro'
import CrossContainerTitle from '@/components/CrossContainerTitle.astro'
import WorkshopCard from '@/components/WorkshopCard.astro'
import Ticket from '@/icons/Ticket.svg'
import type { TypeTag } from '@/components/WorkshopSkillTag.astro'
import { TAGS } from '@/components/WorkshopSkillTag.astro'

type Workshop = {
  hour: string
  title: string
  author: string
  authorDesc: string
  workshopDesc: string
  tags: Array<TypeTag>
}

const workshops: Workshop[] = [
  {
    hour: '16:00',
    title: 'Introducción a Firebase Genkit y Inteligencia Artificial',
    author: 'Xavier Portilla',
    authorDesc: 'Software Engineer en Google',
    workshopDesc:
      'Descubre Firebase Genkit en este taller introductorio en el DevFest Madrid. Exploraremos cómo este versátil framework permite a los desarrolladores crear aplicaciones impulsadas por inteligencia artificial con facilidad. Aprende a implementar las bibliotecas de código abierto de Genkit para Node.js y Go, integrarte con modelos de IA generativa y ejecutarlo de manera independiente de los servicios de Google. Perfecto para quienes buscan optimizar su proceso de desarrollo de IA.',
    tags: [TAGS.FIREBASE, TAGS.IA],
  },
  {
    hour: '16:00',
    title: 'Cómo mantener un desarrollo con TDD rápido y eficaz',
    author: 'Xavier Portilla',
    authorDesc: 'Software Engineer en Google',
    workshopDesc:
      'Descubre Firebase Genkit en este taller introductorio en el DevFest Madrid. Exploraremos cómo este versátil framework permite a los desarrolladores crear aplicaciones impulsadas por inteligencia artificial con facilidad. Aprende a implementar las bibliotecas de código abierto de Genkit para Node.js y Go, integrarte con modelos de IA generativa y ejecutarlo de manera independiente de los servicios de Google. Perfecto para quienes buscan optimizar su proceso de desarrollo de IA.',
    tags: [TAGS.NODEJS, TAGS.OPTIMIZATION],
  },
  {
    hour: '16:00',
    title: 'Aprende a desarrollar skills de Alexa con NodeJS',
    author: 'Xavier Portilla',
    authorDesc: 'Software Engineer en Google',
    workshopDesc:
      'Descubre Firebase Genkit en este taller introductorio en el DevFest Madrid. Exploraremos cómo este versátil framework permite a los desarrolladores crear aplicaciones impulsadas por inteligencia artificial con facilidad. Aprende a implementar las bibliotecas de código abierto de Genkit para Node.js y Go, integrarte con modelos de IA generativa y ejecutarlo de manera independiente de los servicios de Google. Perfecto para quienes buscan optimizar su proceso de desarrollo de IA.',
    tags: [TAGS.TESTING_AVANZADO, TAGS.OPTIMIZATION],
  },
]
---

<section id="whorkshop" class="px-section mt-14 relative">
  <img src="/img/workshops-ms.webp" alt="" class="absolute top-20 left-24 max-xl:hidden w-40 max-2xl:w-24 max-2xl:top-32 max-2xl:left-10" />
  <img src="/img/workshops-cubes.webp" alt="" class="absolute right-28 max-xl:hidden w-36 grayscale -rotate-12 top-28 max-2xl:w-24 max-2xl:top-36 max-2xl:right-10" />
  <Container>
    <div class="flex justify-center flex-wrap">
      <h1 class="font-clash text-white text-[clamp(2rem,5vw,4.5rem)] text-center leading-tight">
        No solo aprendizaje, también conexión,
        <CrossContainerTitle>workshops del evento</CrossContainerTitle>
      </h1>
      <p class="text-zinc-500 max-lg:text-center max-lg:mt-8 max-lg:w-5/6">
        Aprende, conecta y colabora en sesiones prácticas diseñadas para inspirar y potenciar tus
        habilidades.
      </p>
    </div>
    <div></div>
    <div class="flex sm:flex-row flex-col justify-between mb-6 lg:mt-24 mt-12">
      <h5 class="text-white font-clash font-medium md:text-[34px] text-2xl">
        Talleres prácticos destacados
      </h5>
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="font-clash group flex gap-x-1 items-center font-medium hover:opacity-70"
        >
        <span class="text-javascript">Consigue tu entrada</span>
        <svg
          class="group-hover:translate-x-1 transition"
          width="12"
          height="13"
          viewBox="0 0 12 13"
          fill="none"
          >
          <path
            d="M9.1287 5.74992L5.1057 1.72692L6.16635 0.66626L12 6.49992L6.16635 12.3335L5.1057 11.2729L9.1287 7.24992H0V5.74992H9.1287Z"
            fill="#f7df1e"
            >
          </path>
        </svg>
      </a>
    </div>
    <div class="flex lg:flex-row flex-col lg:gap-x-6 gap-y-6">
      {
        workshops.map(({ hour, title, author, authorDesc, workshopDesc, tags }) => (
          <WorkshopCard
            hour={hour}
            title={title}
            author={author}
            authorDesc={authorDesc}
            workshopDesc={workshopDesc}
            tags={tags}
          />
        ))
      }
    </div>
    <div class="flex justify-center max-sm:mx-12 mt-14">
      <Button href="#" style="yellow">
        ¡Consigue tu entrada!
        <Ticket slot="icon-left" />
      </Button>
    </div>
  </Container>
</section>
